* {
	box-sizing: border-box;
}


html,
body {
	margin : 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $bodyFont;
	font-size  : 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headerFont;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

ul {
	padding: 0;
	margin : 0;
}

h1 {
	font-size: $lgHeaderFontSize;
}

.about {
	padding: 4rem 0;
}

.sub-titles {
	font-size       : 3rem;
	text-align      : center;
	margin-bottom   : 4rem;
	position        : relative;
	// display      : inline-block;

	&::after {
		content         : ' ';
		width           : 50%;
		background-color: $secondaryColor;
		position        : absolute;
		bottom          : 0;
		left            : 0;
		height          : 3px;
	}
}