.jumbo-intro {
	background-color: $sandyBeige;
	min-height      : 100vh;
}

.intro-wrapper {
	display        : flex;
	align-items    : center;
	justify-content: center;
	min-height     : calc(100vh - 6.4rem);
}

.intro-content {
	text-align: center;

	span {
		color: $secondaryColor;
	}

	h2 {
		font-size: $subtitleFontSize;
	}

	a {
		@include clearButtonlink($secondaryColor);
		margin-top: 1.5rem;
	}
}