@mixin clearButtonlink($color) {
	color  : $color;
	border : 2px solid $color;
	padding: 0.5rem 1rem;
	display: inline-block;
}

@mixin fullButtonlink($color) {
	color           : #fff;
	background-color: $color;
	border          : 2px solid $color;
	padding         : 0.5rem 1rem;
	display         : inline-block;
}