.nav-bar {
	background-color: $mainColor;
	padding         : 1rem 0;

	.logo {
		font-size: 4rem;
		color    : #fff;
	}
}

.nav-wrapper {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
}

nav {
	a {
		color  : #fff;
		padding: 1rem 1rem 0.5rem;

		&:hover {
			color        : #fff;
			border-bottom: 2px solid #fff;
		}
	}

	ul {
		display: flex;
	}

	li {
		margin: 0 1rem;
	}
}