// Font Family
$bodyFont: 'Pontano Sans',
sans-serif;
$headerFont: 'Roboto',
sans-serif;

// Colors
$mainColor     : #13747D;
$secondaryColor: #FC354B;
$textColor     : #28231E;
$sandyBeige    : #FCF7C5;